* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: rgb(102, 88, 88);
    color: #000000;
    min-height: 100vh;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.contact {
    padding: 3px;
    text-align: center;
    background-color: rgba(56, 56, 56, 0.897);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-image: -webkit-linear-gradient(45deg, rgba(231, 231, 231, 0.774) 50%, transparent 50%);
    background-image: linear-gradient(45deg, rgba(231, 231, 231, 0.774) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 0.6s ease-in-out;
    transition: background 0.6s ease-in-out;
}

a:hover {
    background-position: 0;
}

header {
    width: 100%;
    left: 0;
    z-index: 20;
    height: 80px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
    font-size: 50px;
    height: 120px;
    letter-spacing: 5px;
    background-color: rgba(255, 255, 255, 0.404);
}

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.content-wrapper {
    width: 100%;
}

.header__nav {
    position: absolute;
    top: 40px;
    right: 36px;
    display: block;
}

.header__menu {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__menu li {
    list-style: none;
    margin: 0px 0px 0px 36px;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.content-wrapper {
    margin-top: 100px;
    padding: 10px;
    line-height: 34px;
}

img {
    width: 300px;
    height: 300px;
}

.grid-conteiner {
    display: grid;
    margin: auto;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "A B C D"
        "E F G H"
        "I J K L"
}

.A {
    grid-area: A;
}

.B {
    grid-area: B;

}

.C {
    grid-area: C;
}

.D {
    grid-area: D;
}

.E {
    grid-area: E;
}

.F {
    grid-area: F;
}

.J {
    grid-area: J;
}

.H {
    grid-area: H;
}

.I {
    grid-area: I;
}

.K {
    grid-area: K;
}

.L {
    grid-area: L;
}

.card {
    position: relative;
    grid-gap: 10px;
}

.niz {
    line-height: 0;
    overflow: hidden;
}

.niz>img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
}

.title {
    padding: 50px;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 300px;
    width: 300px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(61, 61, 61, 0.568);
    color: rgb(255, 255, 255);
    display: grid;
    align-items: center;
    justify-content: center;
}

.card:hover .title {
    opacity: 1;
}

.card:hover .niz>img {
    filter: blur(2px);
}

@media screen and (max-width: 1200px) {
    .grid-conteiner {
        grid-template-areas:
            "A B"
            "C D"
            "E F"
            "G H";
    }
}

.Maria {
    display: block;
}

@media(max-width: 700px) {
    .header__nav {
        position: absolute;
        top: 40px;
        right: 36px;
        display: block;
    }
}

@media(max-width: 1090px) {
    .grid-conteiner {
        display: grid;
        margin: auto;
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
        grid-template-areas:
            "A B"
            "C D"
            "E F"
            "G H"
            "I J"
            "K L"
    }

    .Maria p{
        display: none;
    }

    img {
        width: 300px;
        width: 300px;
    }

    .header__nav {
        display: block;
        position: absolute;
        top: 55px;
        left: 0;
        background: rgb(245, 246, 246);
        width: 100%;
        transition: all 0.4s ease;
        left: -100%;
    }

    .header__menu {
        display: block;
        text-align: center;
    }

    .header__nav.open-menu {
        left: 0;
        z-index: 20;
    }

    .header__menu li {
        margin: 40px 0px 40px 33px;
        font-size: 14px;
    }

    .menu-burger__header {
        /*рисование бургера*/
        height: 3px;
        cursor: pointer;
        position: relative;
        width: 40px;
        height: 35px;
        display: block;
        margin-left: 10px;
    }

    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before {
        /*рисование бургера*/
        height: 3px;
        cursor: pointer;
        width: 100%;
        position: absolute;
        background: #000000;
        margin: 0 auto;
    }

    .menu-burger__header span {
        /*рисование бургера*/
        top: 16px;
    }

    .menu-burger__header:after, .menu-burger__header:before {
        /*рисование бургера*/
        content: '';
        cursor: pointer;
        justify-content: flex-end;
    }

    .menu-burger__header:after {
        /*рисование бургера*/
        bottom: 5px;
    }

    .menu-burger__header:before {
        /*рисование бургера*/
        top: 5px;
    }

    .menu-burger__header.open-menu span {
        /*рисование креста*/
        opacity: 0;
        transition: 0.5s;
    }

    .menu-burger__header.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }

    .menu-burger__header.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }

    /*рисование креста*/


    .content-wrapper {
        margin-top: 100px;
        ;
    }

    .fixed-pade {
        overflow: hidden;
    }


}